.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 3em;
}

.container h2 {
  font-size: 2em;
}

.container h3 {
  font-size: 1.5em;
  color: rgb(70, 70, 194);
  margin-bottom: 10px;
}

.container .region {
  color: rgb(125, 68, 163);
  font-size: 1.5em;
}

.region select {
  margin: 5px;
}

.click {
  margin: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.click:hover {
  border-color: rgb(70, 70, 194);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(4, 50px);
  gap: 5px;
}
